/* Universal Styles */
html {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    scroll-behavior: smooth;
}

:root {
    --main-font-type: 'Quicksand', sans-serif; 
    --main-color: #3276c3;
    --main-transition: 0.5s ease-out;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    line-height: 1.5;
    justify-content: center;
    font-family: var(--main-font-type);
    background-color: #F4FAFF;
}

.subtitle {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    text-align: left;
    text-decoration: underline 2px solid var(--main-color);
}

.small-subtitle {
    font-size: 1.25rem;
    margin: 0 0 1rem 0;
    text-align: center;
    text-decoration: underline 2px solid var(--main-color);
}

/* ---------- Navigation Section of the Portfolio ----------- */
nav {
    position: sticky;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    top: 0;
    background-color: var(--main-color);
    height: 8vh;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    margin: auto 0;
    padding: 0 2rem;
}

.nav-links a {
    padding: 0 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.nav-links a:hover {
    transform: scale(1.10);
    transition: var(--main-transition);
    color: ivory;
}

/* ---------- Header/Banner of the Portfolio ----------- */
.banner {
    background-image: url(./images/earth-nebula.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: #fff;
    text-shadow: 2px 2px black;
    display: flex;
    flex-direction: column;
}

/* ----------- Animation Section of the Banner ------------ */
span {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(250, 247, 247, 0.3);
    animation: animateMovement 3s linear infinite;
}

@keyframes animateMovement {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

span:nth-child(1) {
    top: 95%;
    left: 55%;
    animation-delay: 0.2s;
    animation-duration: 2s;
}

span:nth-child(2) {
    top: 85%;
    left: 45%;
    animation-delay: 0.4s;
    animation-duration: 4s;
}

span:nth-child(3) {
    top: 90%;
    left: 20%;
    animation-delay: 0.6s;
    animation-duration: 5s;
}

span:nth-child(4) {
    top: 100%;
    left: 95%;
    animation-delay: 0.8s;
    animation-duration: 5s;
}

span:nth-child(5) {
    top: 40%;
    left: 65%;
    animation-delay: 0.5s;
    animation-duration: 4s;
}

span:nth-child(6) {
    top: 80%;
    left: 10%;
    animation-delay: 0.2s;
    animation-duration: 5s;
}

span:nth-child(7) {
    top: 70%;
    left: 35%;
    animation-delay: 0.2s;
    animation-duration: 2s;
}

span:nth-child(8) {
    top: 90%;
    left: 75%;
    animation-delay: 0.4s;
    animation-duration: 4s;
}

span:nth-child(9) {
    top: 60%;
    left: 85%;
    animation-delay: 0.6s;
    animation-duration: 3s;
}

span:nth-child(10) {
    top: 50%;
    left: 5%;
    animation-delay: 0.4s;
    animation-duration: 2s;
}
/* ---------- End of the Animation Section of the Banner ---------- */

.banner-text {
    margin: auto 0 3rem 3rem;
    padding-right: 0.5rem;
    max-width: 1200px;
}

.banner-heading h1 {
    font-size: 1.85rem;
    margin: 0.75rem 0;
}

.banner-heading .banner-title {
    text-decoration: underline var(--main-color);
    position: unset;
    background: none;
    box-shadow: none;
    animation: none;
}

.banner-links .social-media-links img {
    width: 40px;
    height: 40px;
    padding: 0.25rem;
}

.banner-links .social-media-links img:hover {
    transform: scale(1.2);
    transition: var(--main-transition);
}

.banner-description h3 {
    margin: 0.75rem 0;
    font-size: 1.10rem;
}

.banner-description p {
    margin: 0 0 1rem 0;
    font-size: 1rem;
}
/* ---------- End of Header/Banner of the Portfolio --------- */
/* ---------- Main Section of the Portfolio ----------- */
/* ---------- Start of About Me Section of the Portfolio ---------- */
.main-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
}

.about-container,
.contact-container,
.resume-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.photo-container {
    max-width: 350px;
    margin: 0 auto;
    width: 100%;
}

.photo-container img {
    width: 300px;
    height: 350px;
    border-radius: 20px;
}

.skills-container {
    max-width: 850px;
    width: 100%;
    margin: 0 0.5rem;
    text-align: left;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    margin-bottom: 0.75rem;
}

.skills-list p {
    background-color: #000;
    font-weight: 600;
    padding: 0.5rem;
    margin: 0.25rem 0.40rem 0.25rem 0;
    border-radius: 20px;
}

.skills-container .bio-btn {
    background-color: var(--main-color);
    padding: 0.5rem 1rem;
    border-radius: 15px;
    border: none;
}

.skills-container .bio-btn a,
.description-container .view-project-btn a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
}

.skills-container .bio-btn:hover {
    transform: scale(1.05);
    transition: var(--main-transition);
}
/* ---------- End of About Me Section of the Portfolio ---------- */
/* ---------- Start of Project Section of the Portfolio ---------- */
.projects-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto 6rem auto;
}

.description-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto 1rem;
    padding: 0 1rem;
    width: 100%;
    text-align: left;
}

.project-type {
    text-transform: uppercase;
    font-size: 0.75rem;
    margin: 0.5rem 0;
}

.view-project-btn {
    background-color: var(--main-color);
    padding: 0.5rem 1rem;
    border-radius: 15px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    width: 200px;
}

.view-project-btn:hover {
    transform: scale(1.05);
    transition: var(--main-transition);
}

.watch-video {
    display: flex;
    margin-right: 0.5rem;
}

.arrow {
    position: relative;
    margin: 1.5rem 0 0 0.25rem;
    min-width: 1rem;
    height: 1rem;
    border-top: 0.5px solid #3276c3;
    border-right: 0.5px solid #3276c3;
    transform: rotate(45deg);
    animation: animateArrowsHorizontally 2s ease-in infinite alternate;
}

.arrow::before {
    position: absolute;
    content: "";
    left: -0.25rem;
    top: 0.5rem;
    min-width: 0.75rem;
    height: 0.75rem;
    border-top: 0.5px solid #3276c3;
    border-right: 0.5px solid #3276c3;
}

.arrow::after {
    position: absolute;
    content: "";
    right: -0.5rem;
    top: -0.5rem;
    min-width: 0.75rem;
    height: 0.75rem;
    border-top: 0.5px solid #3276c3;
    border-right: 0.5px solid #3276c3;
}

@keyframes animateArrowsHorizontally {
    25% {
        transform: translateX(10px) rotate(45deg);
        border-top: 0.75px solid #3276c3;
        border-right: 0.75px solid #3276c3;
    }
    50% {
        transform: translateX(20px) rotate(45deg);
        border-top: 1.25px solid #3276c3;
        border-right: 1.25px solid #3276c3;
    }
    75% {
        transform: translateX(30px) rotate(45deg);
        border-top: 1.75px solid #3276c3;
        border-right: 1.75px solid #3276c3;
    }
    100% {
        transform: translateX(35px) rotate(45deg);
        border-top: 2px solid #3276c3;
        border-right: 2px solid #3276c3;
    }
}

.project-image-video {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.project-image-video img, video {
    width: 400px;
    height: 350px;
    border-radius: 20px;
}

.caution {
    margin: 0.20rem 0;
    font-size: 0.75rem;
    color: red;
}
/* ---------- End of Project Section of the Portfolio ---------- */
/* ---------- Start of the Other Project Section of the Portfolio ------- */
.additional-projects {
    background: linear-gradient(10deg, #fff 0 10%, #E4FDE1, #bde4b9, #9cd396 50% 70%, #fff 90% 100%);
    display: block;
    color: #000;
    margin-top: 1rem;
}

.additional-projects-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
    justify-content: center;
    margin: 0 auto 3rem auto;
}

.project-box {
    display: block;
    width: 300px;
    align-items: center;
    margin: 1rem 0.5rem;
}

.project-box p {
    text-align: left;
}

.project-box img {
    width: 270px;
    height: 200px;
}

.skills-container-small {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.25rem 0;
}

.skills-container-small p {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 0.25rem;
    margin: 0.10rem 0.10rem;
}

.additional-projects-btn {
    background-color: var(--main-color);
    padding: 0.5rem 1rem;
    border-radius: 15px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    width: 200px;
}

.additional-projects-btn a {
    text-decoration: none;
    color: #fff;
}

.additional-projects-btn:hover {
    transform: scale(1.05);
    transition: var(--main-transition);
}
/* ---------- End of the Other Project Section of the Portfolio ------- */
/* ---------- End of Main Section of the Portfolio ----------- */
/* ---------- Start of the Footer Section of the Portfolio ---------- */
.footer-banner {
    background-color: #3276c3;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    text-align: left;
    margin: 0;
    box-sizing: border-box;
}

.footer-banner h1 {
    margin: 1rem 0;
}

#contact,
#resume {
    margin: 0 1.25rem;
}
/* ---------- Start of the Contact/Resume Section ------- */
.contact-container,
.resume-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-container h3,
.resume-container h3 {
    font-size: 1.25rem;
    margin: 0;
}

.contact-container p, 
.resume-container p {
    text-align: center;
    font-weight: 600;
    margin: 0.5rem 0;
}

.contact-container a,
.resume-container a {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    margin: 0.5rem auto 0 auto;
    padding: 0.5rem;
}
/* ---------- End of the Contact/Resume Section ------- */
/* ---------- End of the Footer Section of the Portfolio ----------- */

/* ---------- Start of the MyBio Website Styles ---------- */
.article {
    margin: 3rem 2rem;
    text-align: left;
}

.article p {
    padding-bottom: 1rem;
}
/* ---------- End of the MyBio Website Styles ---------- */
/* ---------- Responsive Design of the Portfolio --------- */
/* ---------- Universal Styles ------- */
@media only screen and (max-width: 750px) {
    .title {
        font-size: 1.75rem;
    }
}
/* ---------- Responsiveness of Navigation Section of the Portfolio -------- */
@media only screen and (max-width: 750px) {  
    .nav-links {
        padding: 0 0.75rem;; 
    } 

    .nav-links a {
        padding: 0 0.5rem;
    }
}
/* ---------- Responsiveness of Header/Banner of the Portfolio ----------- */
@media only screen and (max-width: 750px) {
    .banner-text {
        margin: auto 0 1rem 2rem;
    }

    .banner-heading h1 {
        font-size: 1.5rem;
        margin: 0;
    }
    
    .banner-description h3 {
        font-size: 1rem;
    }
}

/* ---------- Responsiveness of the Main Section of the Portfolio ------ */
/* ---------- Start Responsiveness of the About Me Section --------- */
@media only screen and (max-width: 750px) {    
    .about-container,
    .contact-container {
        flex-direction: column;
    }
    
    .photo-container {
        margin: 0 auto;
    }
    
    .photo-container img {
        width: 90%;
    }
    
    .skills-container {
        width: 90%;
        margin: 0 1rem;
    }
}
/* ---------- End Responsiveness of the About Me Section --------- */
/* ---------- Start Responsiveness of the Projects Section --------- */
@media only screen and (max-width: 750px) {
    .projects-container {
        flex-direction: column;
        align-items: center;
        margin: 0 auto 3rem auto;
    }

    .description-container {
        width: 90%;
        max-width: none;
        padding: 0;
    }

    .project-image-video img, video {
        max-width: 400px;
        max-height: 300px;
        width: 95%;
    }

    .watch-video {
        margin-bottom: 1.25rem;
    }

    .arrow {
        margin-top: 1rem;
        margin-left: 0.5rem;
        transform: rotate(135deg);
        animation: animateArrowsVertically 2s ease-in infinite alternate;
    }
    
    @keyframes animateArrowsVertically {
        25% {
            transform: translateY(10px) rotate(135deg);
            border-top: 0.75px solid #3276c3;
            border-right: 0.75px solid #3276c3;
        }
        50% {
            transform: translateY(20px) rotate(135deg);
            border-top: 1.25px solid #3276c3;
            border-right: 1.25px solid #3276c3;            
        }
        75% {
            transform: translateY(30px) rotate(135deg);
            border-top: 1.75px solid #3276c3;
            border-right: 1.75px solid #3276c3;
        }
        100% {
            transform: translateY(35px) rotate(135deg);
            border-top: 2px solid #3276c3;
            border-right: 2px solid #3276c3;
        }
    }
}
/* ---------- End Responsiveness of the Projects Section --------- */
/* ---------- Start Responsiveness of the Other Projects Section -------- */
@media only screen and (max-width: 750px) {
    .additional-projects-container {
        display: flex;
        flex-direction: column;
    }
    
    .project-box {
        display: flex;
        flex-direction: column;
        width: 90%;
        text-align: center;
        margin: 1rem auto;
    }
    
    .project-box img {
        max-width: 400px;
        width: 95%;
        height: 265px;
    }
    
    .skills-container-small {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0.25rem 0;
    }
    
    .skills-container-small p {
        background-color: #000;
        color: #fff;
        border: 1px solid #000;
        border-radius: 20px;
        padding: 0.25rem;
        margin: 0.10rem 0.15rem;
    }
}
/* ---------- End Responsiveness of the Other Projects Section -------- */
/* ---------- Start Responsiveness of the Footer Section -------- */
@media only screen and (max-width: 750px) {
    .footer-banner {
        flex-direction: column;
    }

    #contact,
    #resume {
        margin: 0 0.75rem;
    }
}
/* ---------- End Responsiveness of the Footer Section -------- */